MONGO_URI=mongodb://localhost:27017
DB_NAME=ufro_master
PP1_URL=http://localhost:8001/ask
REGISTRY_PATH=conf/registry.yaml
THRESHOLD=0.75
MARGIN=0.10
PP2_TIMEOUT_S=2
MASTER_TOKEN=changeme
REQUEST_TTL_DAYS=7
